{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>
            Я Начинающий Разработчик на языке Python.
            Я решил перейти в эту профессию из строительнй отрасли, где почувствовал туманные перспективы моего будующего.
            Это было не легкое решение, однако хорошие решения редко бывают легкими.
            Подтверждение нам даст только время. 
        </p>
        <a href="{% url 'home' %}"><button class="btn btn-info">Кнопка для нажатия</button></a>
    </div> 
{% endblock %}