{% extends 'main/layout.html' %}

{% block title %}Создай новый наброс{% endblock %}

{% block content %}
    <div class="features">
        <h1>Создай новый наброс</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.main_text }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Кидай</button>           
        </form>
    </div>
{% endblock %}