{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>
            "Это персональный сайт Николая Майстренко. 
            Он создан для ознакомления со мной и моими возможностями. 
            Создавался в целях тренировки и изучения фреймворка Django. 
            Если вы видите этот сайт, значит я прохожу собеседование с 
            вами или предложил какие либо другие свои услуги. Я!!"
        </p>
        <a href="{% url 'home' %}"><button class="btn btn-info">На главную</button></a>

        {% for el in values %}
            {% if el == 'Что-то' %}
                {% filter upper %}
                    <p>{{ el }}</p>
                {% endfilter %}
            {% endif %}
        {% endfor %}

        {% for el in obj %}
            <p>{{ el }}</p>
        {% endfor %}
    </div>
{% endblock %}